<html>
<head>
	<title>Add a Post</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	
</head>
<body>

		<div class="new pure-g">
			<div class="pure-u-1-1 original">
				<div class="pure-u-1 newStory">
					<h1>Thanks for your courage! We have all been there.</h1>

					<form method="POST" action="/posts">
						<h4>Username</h2>
						<input type="text" name="username">
						<h4>Password</h4>
						<input type="password" name="password">

				        <h4> Subject </h4>
				        <input type="text" name="subject">
						<h4>Post</h4>
						<TEXTAREA Name="post" ROWS=20 COLS=70> </TEXTAREA>
						<input type="submit">
					</form>
				</div>
			</div>
		</div>
    
   

 
</body>
</html>